@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background: #000;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation:-global-background-scroll 30s linear infinite;
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight on mobile */
}

@keyframes -global-background-scroll {
  from { background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; }
  to { background-position: 550px 550px, 390px 410px, 380px 520px, 220px 250px; }
}

.color-swatch-selected {
    transform: scale(1.2);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff;
    border: 2px solid white;
}

